.theme-dark {
  --text-positive: #6ee1b6;
}
.theme-light {
  --text-positive: #2ac88d;
}
:root {
  --channeltextarea-background: var(--background-tertiary);
  --radio-bar-accent-color: transparent;
  --deprecated-text-input-bg: var(--background-secondary);
  --deprecated-text-input-border-disabled: var(--background-secondary);
  --text-brand: var(--brand-experiment);
}
}
