.theme-dark {
  --text-positive: #6ee1b6;
}
.theme-light {
  --text-positive: #2ac88d;
}
/* menus */
.menu-1QACrS, .quickSelectPopout-2F0PXw, .bd-select-options, .css-3vaxre-menu, .phoneFieldPopout-3O-1C3, .addGamePopout-3yePJc, .recentMentionsPopout-2bI1ZN, .languageSelector-2e1IuO, .container-2O1UgZ {
  border-radius: var(--border-radius-1) !important;
  border: 1px solid var(--border-color) !important;
}
.css-3vaxre-menu, .phoneFieldPopout-3O-1C3, .addGamePopout-3yePJc {
  background-color: var(--background-secondary) !important;
}
.labelContainer-2vJzYL, .item-1OdjEX, .item-1BCeuB, .friend-8ZraY7 {
  border-radius: var(--border-radius-2);
}
.button-3bklZh.selected-69H4ua>svg, .languageSelector-2e1IuO .selected-22ukbQ, .languageSelector-2e1IuO .selected-22ukbQ:hover {
  color: var(--interactive-selected);
}
.languageSelector-2e1IuO .selected-22ukbQ:hover {
  background-color: var(--background-modifier-selected);
}
.quickSelectPopoutOption-2E2UmS, .bd-select .bd-select-option {
  margin: 8px;
  border-radius: var(--border-radius-2);
}
.css-1yz4bi9-option, .css-rzbxvl-option, .css-1ba14n5-option {
  margin: 8px !important;
  width: auto;
  border-radius: var(--border-radius-2);
}
.colorBrand-3cPPsm {
  color: var(--interactive-normal);
}
.colorDefault-CDqZdO.focused-3qFvc8, .item-1BCeuB:hover {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
.colorDefault-CDqZdO:active {
  background-color: var(--background-modifier-active) !important;
}
.theme-light .colorDefault-CDqZdO:active {
  color: var(--text-normal);
}
